.text-separator-line {
    overflow: hidden;
    text-align: center;
}

.text-separator-line:before,
.text-separator-line:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.text-separator-line:before {
    right: 0.5em;
    margin-left: -50%;
}

.text-separator-line:after {
    left: 0.5em;
    margin-right: -50%;
}